
.displayBook {
  text-align: center;
  width: 10%;
  display: inline-grid;
  margin: 45px;
}

.imageSize {
  width: 80px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.displayInfo {
  margin-top: 0px;
  font-size: 15px;
  color: white;
}
