.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  background-image: url(./books-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  z-index: 3;

}


.App-body {
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
  display:  flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  font-size: calc(8px + 2vmin);
  color: white;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}
